@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --green: #92d050;
  --black: #333;
  --white: #fff;
  --light-color: #666;
  --light-bg: #eee;
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  text-transform: capitalize;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--green);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

section {
  padding: 7rem 2rem;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: var(--black);
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.link-btn {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background-color: var(--green);
  cursor: pointer;
  font-size: 1.7rem;
  color: var(--white);
}

.link-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.header {
  padding: 2rem;
  border-bottom: var(--border);
}

.header {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border: 0;
}

.header .logo {
  font-size: 3rem;
  color: var(--black);
  padding-top: 4rem;
  font-weight: 900;
  color: #92d050;
}

.header .logo_img {
  height: 4rem;
  width: 6rem;
}

.header .nav a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: var(--black);
}

.header .nav a:hover {
  color: var(--green);
}

#menu-btn {
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
  display: none;
}

.home {
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(../images/home-bg.jpg);
  background-size: cover;
  background-position: center;
}

.home .content {
  width: 55rem;
  padding: 2rem;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--black);
  text-shadow: 0.5px 0.5px var(--white);
}

.home .content p {
  line-height: 2;
  font-size: 1.5rem;
  color: var(--black);
  padding: 1rem 0;
}

.about .row {
  min-height: 50vh;
}

.about .about_img {
  height: 70vh;
  width: 50vh;
}

.about .content span {
  font-size: 2rem;
  color: var(--green);
}

.about .content h3 {
  font-size: 3rem;
  color: var(--black);
  margin-top: 1rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.footer .box-container .box {
  text-align: center;
}

.footer .box-container .box i {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  line-height: 4rem;
  font-size: 2rem;
  background-color: var(--green);
  color: var(--white);
}

.footer .box-container .box h3 {
  font-size: 2rem;
  margin: 2rem 0;
  color: var(--black);
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  text-transform: none;
}

.footer .box-container .box .fb {
  background-color: #03a1a4;
}

.footer .box-container .box .fb-h3 {
  color: #03a1a4;
}

.footer .box-container .box .pintrest {
  background-color: #ef3078;
}

.footer .box-container .box .pintrest-h3 {
  color: #ef3078;
}

.footer .box-container .box .twitter {
  background-color: #92d050;
}

.footer .box-container .box .twitter-h3 {
  color: #92d050;
}

.footer .credit {
  text-align: center;
  border-top: var(--border);
  padding-top: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--light-color);
  padding-bottom: 2rem;
}

.footer .credit span {
  color: var(--green);
}

/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header .link-btn {
    display: none;
  }

  section {
    padding: 5rem 2rem;
  }
}

@media (max-width: 768px) {
  section {
    padding: 3rem 1rem;
  }

  #menu-btn {
    display: inline-block;
    transition: 0.2s linear;
  }

  #menu-btn.fa-xmark {
    transform: rotate(180deg);
  }

  .header .nav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    padding: 1rem 0;
    text-align: center;
    flex-flow: column;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
  }

  .header .nav.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .nav a {
    margin: 1rem 0;
    font-size: 2rem;
  }

  .home {
    background-position: left;
  }

  .home .content {
    width: auto;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .content h3 {
    font-size: 4rem;
  }

  .heading {
    font-size: 3rem;
  }

  .about .about_img {
    height: 50vh;
    width: 40vh;
  }
}

.working {
  background-color: var(--light-bg);
}

.working .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  padding-left: 5.5rem;
}

.working .box-container .box {
  text-align: center;
  padding: 2rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  width: 35rem;
}

.working .box-container .box img {
  margin: 1rem 0;
  height: 5rem;
}

.working .box-container .box i {
  margin: 1rem 0;
  height: 5rem;
  font-size: 5.5rem;
}

.working .box-container .box .problem {
  color: #f25245;
}

.working .box-container .box .solution {
  color: #ffa958;
}

.working .box-container .box .covid {
  color: #695e78;
}

.working .box-container .box h3 {
  font-size: 2rem;
  padding: 1rem 0;
}

.working .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}

.usp .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.usp p {
  text-align: center;
  font-size: 1.8rem;
  padding: 0 9rem;
  opacity: 0.6;
}

.usp .box-container .box {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  height: 30rem;
}

.usp .box-container .box img {
  margin: 1rem 0;
  height: 5rem;
}

.usp .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  margin: 1.5rem 0;
}

.app {
  background-color: var(--light-bg);
}

.app .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.app p {
  text-align: center;
  font-size: 1.8rem;
  padding: 0 9rem;
  opacity: 0.6;
}

.app .box-container .box {
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  height: 30rem;
}

.app .box-container .box i {
  margin: 1rem 0;
  height: 5rem;
  font-size: 5.5rem;
}

.app .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  margin: 1.5rem 0;
}

.benefits {
  background-color: var(--light-bg);
}

.benefits p {
  text-align: center;
  font-size: 1.8rem;
  padding: 0 9rem;
  opacity: 0.6;
}

.social_impact .box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_impact .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

/* card css  starts*/
.card {
  border-radius: 5px;
  width: 25rem;
  border-radius: 20px;
}
.color {
  border-radius: 20px 20px 0px 0px;
  position: relative;
  height: 40%;
  width: 100%;
  padding: 1rem 7rem;
}
.card .color .num {
  border-radius: 50%;
  text-align: center;
  transform: translateY(40%);
  padding: 2rem;
  color: white;
  font-size: 5rem;
  font-weight: 800;
}

.si_content {
  padding: 2.5rem 2rem;
  gap: 1rem;
  text-align: center;
  box-shadow: 2px 2px 15px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 20px 20px;
}
.si_content h2 {
  color: rgb(248, 86, 113);
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 1000;
}
.si_content p {
  font-size: 1.8rem;
  color: gray;
  font-weight: 500;
}
.bulb {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
}
/* card css  ends*/

.social_impact .red {
  background-color: #ff5969;
}

.social_impact .red_h2 {
  color: #ff5969;
}

.social_impact .green {
  background-color: #52cbbe;
}

.social_impact .green_h2 {
  color: #52cbbe;
}

.social_impact .yellow {
  background-color: #fec630;
}

.social_impact .yellow_h2 {
  color: #fec630;
}

.work_process {
  background-color: var(--light-bg);
}

.work_process p {
  text-align: center;
  font-size: 1.8rem;
  padding: 0 9rem;
  opacity: 0.6;
}

.competition .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
}

.competition h3 {
  font-size: 2.8rem;
}

.competition p {
  font-size: 1.9rem;
  opacity: 0.6;
}

.warehousing .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}

.warehousing .warehouse{
  height: 50rem;
  border-radius: 5px;
}

.warehousing p {
  font-size: 2.5rem;
  color: #7a7c7f;
}

.warehousing span {
  font-size: 3.2rem;
  font-weight: 500;
}

.warehousing .one {
  color: #f25245;
}

.warehousing .three {
  color: #ffa956;
}

.vegetables {
  background-color: var(--light-bg);
}

.vegetables .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 2rem;
}

.vegetables h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.6rem;
}

.vegetables p {
  font-size: 2.1rem;
  padding: 0 9rem;
  text-align: center;
  color: #7a7c7f;
}

/* img box  */
.outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vegetables img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.circle {
  position: absolute;
  margin-top: -135px;
  margin-left: -150px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  color: white;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.inner {
  margin-top: 6px;
}
/* img box ends  */

.vegetables .tomato {
  background-color: #ff5969;
}

.vegetables .tomato_img {
  border: 12px solid #ff5969;
}

.vegetables .potato {
  background-color: #00a0a8;
}

.vegetables .potato_img {
  border: 12px solid #00a0a8;
}

.vegetables .onion {
  background-color: #5d7373;
}

.vegetables .onion_img {
  border: 12px solid #5d7373;
}

.vegetables .carrot {
  background-color: #ff5969;
}

.vegetables .carrot_img {
  border: 12px solid #ed7d31;
}

.vegetables .eggplant {
  background-color: #00a0a8;
}

.vegetables .eggplant_img {
  border: 12px solid #7030a0;
}

.vegetables .cauliflower {
  background-color: #5d7373;
}

.vegetables .cauliflower_img {
  border: 12px solid #7f7f7f;
}

.startup {
  background-color: var(--light-bg);
}

.startup .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
}

.startup p {
  color: #7a7c7f;
  font-size: 2.4rem;
}

.startup h2 {
  font-size: 2.4rem;
}

.startup .startup_sub {
  font-size: 1.8rem;
  padding-bottom: 2rem;
  text-align: center;
}

.cost_st .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
}

.cost_st p {
  font-size: 1.8rem;
  padding-bottom: 2rem;
  text-align: center;
  color: #7a7c7f;
}

.cost_st ol {
  list-style-type: upper-alpha;
  font-size: 2.4rem;
  color: #7a7c7f;
}

.cost_st h2 {
  font-size: 2.4rem;
}

.total_cost {
  text-align: center;
}

.selling_cost {
  background-color: var(--light-bg);
}

.selling_cost p {
  font-size: 2rem;
  color: #7a7c7f;
  text-align: center;
}

.selling_cost h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

.selling_cost table {
  font-size: 2rem;
  width: 100%;
}

table,
th,
td {
  border: 2px solid white;
  padding: 1rem;
}

.selling_cost th {
  background-color: #4472c4;
  color: white;
}

.selling_cost .light_bg td {
  background-color: #e9ebf5;
  font-weight: 500;
}

.selling_cost .bg td {
  background-color: #cfd5ea;
  font-weight: 500;
}

.selling_cost .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 7rem;
}

@media (min-width: 990px) {
  .cost-breakup {
    padding-top: 12rem;
  }
}

.selling_cost .disc {
  padding-top: 3rem;
}

.subscription h3 {
  font-size: 2.4rem;
  color: #7f7f82;
  padding: 2rem;
}

.subscription {
  text-decoration: underline;
}

.subscription ul {
  font-size: 2rem;
  color: #a7a6a6;
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.future {
  background-color: var(--light-bg);
}

.future .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 3rem;
}

.future .box {
  text-align: center;
}

.future img {
  height: 25rem;
}

.future h3 {
  font-size: 3.3rem;
  font-weight: 700;
}

.future h2 {
  font-size: 3rem;
  font-weight: 600;
}

.future p {
  font-size: 2rem;
}

.future .red {
  color: #ff5969;
}

.future .blue {
  color: #52cbbe;
}

.future .yellow {
  color: #fec630;
}
